In [39]:
import pandas as pd

In [40]:
bogota = pd.read_csv('bogota_covid-19.csv', sep =';')
bogota

,CASO,FECHA_DE_INICIO_DE_SINTOMAS,FECHA_DIAGNOSTICO,CIUDAD,LOCALIDAD_ASIS,EDAD,UNI_MED,SEXO,FUENTE_O_TIPO_DE_CONTAGIO,UBICACION,ESTADO
0,1,2020-02-26,2020-03-06,Bogotá,Usaquén,19,1,F,Importado,Casa,Recuperado
1,2,2020-03-04,2020-03-10,Bogotá,Engativá,22,1,F,Importado,Casa,Recuperado
2,3,2020-03-07,2020-03-10,Bogotá,Engativá,28,1,F,Importado,Casa,Recuperado
3,4,2020-03-06,2020-03-12,Bogotá,Fontibón,36,1,F,Importado,Casa,Recuperado
4,5,2020-03-06,2020-03-12,Bogotá,Kennedy,42,1,F,Importado,Casa,Recuperado
...,...,...,...,...,...,...,...,...,...,...,...
1760771,1760772,NaN,2022-03-05,Sin dato,Sin dato,52,1,M,En estudio,Casa,Leve
1760772,1760773,2022-02-17,2022-03-04,Sin dato,Sin dato,14,1,F,En estudio,Casa,Recuperado
1760773,1760774,2022-02-17,2022-03-04,Sin dato,Sin dato,42,1,F,En estudio,Casa,Recuperado
1760774,1760775,2022-02-28,2022-03-02,Sin dato,Sin dato,50,1,M,En estudio,Casa,Leve
1760775,1760776,2022-03-01,2022-03-02,Sin dato,Sin dato,8,1,M,En estudio,Casa,Leve

In [41]:
bogota['FECHA_DIAGNOSTICO'] = pd.to_datetime(bogota['FECHA_DIAGNOSTICO'])
bogota

,CASO,FECHA_DE_INICIO_DE_SINTOMAS,FECHA_DIAGNOSTICO,CIUDAD,LOCALIDAD_ASIS,EDAD,UNI_MED,SEXO,FUENTE_O_TIPO_DE_CONTAGIO,UBICACION,ESTADO
0,1,2020-02-26,2020-03-06,Bogotá,Usaquén,19,1,F,Importado,Casa,Recuperado
1,2,2020-03-04,2020-03-10,Bogotá,Engativá,22,1,F,Importado,Casa,Recuperado
2,3,2020-03-07,2020-03-10,Bogotá,Engativá,28,1,F,Importado,Casa,Recuperado
3,4,2020-03-06,2020-03-12,Bogotá,Fontibón,36,1,F,Importado,Casa,Recuperado
4,5,2020-03-06,2020-03-12,Bogotá,Kennedy,42,1,F,Importado,Casa,Recuperado
...,...,...,...,...,...,...,...,...,...,...,...
1760771,1760772,NaN,2022-03-05,Sin dato,Sin dato,52,1,M,En estudio,Casa,Leve
1760772,1760773,2022-02-17,2022-03-04,Sin dato,Sin dato,14,1,F,En estudio,Casa,Recuperado
1760773,1760774,2022-02-17,2022-03-04,Sin dato,Sin dato,42,1,F,En estudio,Casa,Recuperado
1760774,1760775,2022-02-28,2022-03-02,Sin dato,Sin dato,50,1,M,En estudio,Casa,Leve
1760775,1760776,2022-03-01,2022-03-02,Sin dato,Sin dato,8,1,M,En estudio,Casa,Leve

In [42]:
bogota=bogota.drop(['FECHA_DE_INICIO_DE_SINTOMAS', 'CIUDAD','LOCALIDAD_ASIS','EDAD','UNI_MED', 'SEXO',
'FUENTE_O_TIPO_DE_CONTAGIO','UBICACION'], axis=1)
bogota

            CASO FECHA_DIAGNOSTICO      ESTADO
0              1        2020-03-06  Recuperado
1              2        2020-03-10  Recuperado
2              3        2020-03-10  Recuperado
3              4        2020-03-12  Recuperado
4              5        2020-03-12  Recuperado
...          ...               ...         ...
1760771  1760772        2022-03-05        Leve
1760772  1760773        2022-03-04  Recuperado
1760773  1760774        2022-03-04  Recuperado
1760774  1760775        2022-03-02        Leve
1760775  1760776        2022-03-02        Leve

[1760776 rows x 3 columns]

In [43]:
bogota.set_index('FECHA_DIAGNOSTICO', inplace = True)
bogota.head(30)

                   CASO      ESTADO
FECHA_DIAGNOSTICO
2020-03-06            1  Recuperado
2020-03-10            2  Recuperado
2020-03-10            3  Recuperado
2020-03-12            4  Recuperado
2020-03-12            5  Recuperado
2020-03-13            6  Recuperado
2020-03-13            7  Recuperado
2020-03-13            8  Recuperado
2020-03-13            9  Recuperado
2020-03-14           10  Recuperado
2020-03-14           11  Recuperado
2020-03-14           12  Recuperado
2020-03-14           13  Recuperado
2020-03-13           14  Recuperado
2020-03-15           15  Recuperado
2020-03-15           16  Recuperado
2020-03-15           17  Recuperado
2020-03-15           18  Recuperado
2020-03-15           19  Recuperado
2020-03-15           20  Recuperado
2020-03-15           21  Recuperado
2020-03-15           22  Recuperado
2020-03-15           23  Recuperado
2020-03-15           24  Recuperado
2020-03-28           25  Recuperado
2020-03-15           26  Recuperado
2020-03-15           27  Recuperado
2020-03-15           28  Recuperado
2020-03-15           29  Recuperado
2020-03-15           30  Recuperado

In [44]:
def one(x):
    return 1

In [45]:
bogota['CASO'] = bogota['CASO'].apply(one)
bogota

                   CASO      ESTADO
FECHA_DIAGNOSTICO
2020-03-06            1  Recuperado
2020-03-10            1  Recuperado
2020-03-10            1  Recuperado
2020-03-12            1  Recuperado
2020-03-12            1  Recuperado
...                 ...         ...
2022-03-05            1        Leve
2022-03-04            1  Recuperado
2022-03-04            1  Recuperado
2022-03-02            1        Leve
2022-03-02            1        Leve

[1760776 rows x 2 columns]

In [46]:
bogota['FALLECIDOS'] = [1 if i == 'Fallecido' else 0 for i in bogota.ESTADO]
bogota['RECUPERADO'] = [1 if i == 'Recuperado' else 0 for i in bogota.ESTADO]

bogota

                   CASO      ESTADO  FALLECIDOS  RECUPERADO
FECHA_DIAGNOSTICO
2020-03-06            1  Recuperado           0           1
2020-03-10            1  Recuperado           0           1
2020-03-10            1  Recuperado           0           1
2020-03-12            1  Recuperado           0           1
2020-03-12            1  Recuperado           0           1
...                 ...         ...         ...         ...
2022-03-05            1        Leve           0           0
2022-03-04            1  Recuperado           0           1
2022-03-04            1  Recuperado           0           1
2022-03-02            1        Leve           0           0
2022-03-02            1        Leve           0           0

[1760776 rows x 4 columns]

In [47]:
bogota = bogota.drop(['ESTADO'], axis=1)
bogota

                   CASO  FALLECIDOS  RECUPERADO
FECHA_DIAGNOSTICO
2020-03-06            1           0           1
2020-03-10            1           0           1
2020-03-10            1           0           1
2020-03-12            1           0           1
2020-03-12            1           0           1
...                 ...         ...         ...
2022-03-05            1           0           0
2022-03-04            1           0           1
2022-03-04            1           0           1
2022-03-02            1           0           0
2022-03-02            1           0           0

[1760776 rows x 3 columns]

In [48]:
bogota = bogota.resample('D').agg({'CASO': 'sum','FALLECIDOS':'sum','RECUPERADO':'sum'})
bogota

                   CASO  FALLECIDOS  RECUPERADO
FECHA_DIAGNOSTICO
2020-03-06            1           0           1
2020-03-07            0           0           0
2020-03-08            0           0           0
2020-03-09            0           0           0
2020-03-10            2           0           2
...                 ...         ...         ...
2022-03-02          450           3          22
2022-03-03          427           4           5
2022-03-04          344           0          32
2022-03-05          171           0          21
2022-03-06           23           0           0

[731 rows x 3 columns]

In [49]:
bogota['CASOS_ACUMULADOS']=bogota['CASO'].cumsum()
bogota['RECUPERADOS_ACUMULADOS']=bogota['RECUPERADO'].cumsum()
bogota['FALLECIDOS_ACUMULADOS']=bogota['FALLECIDOS'].cumsum()

In [50]:
bogota = bogota[['CASO','CASOS_ACUMULADOS','RECUPERADO','RECUPERADOS_ACUMULADOS','FALLECIDOS','FALLECIDOS_ACUMULADOS']]
bogota

,CASO,CASOS_ACUMULADOS,RECUPERADO,RECUPERADOS_ACUMULADOS,FALLECIDOS,FALLECIDOS_ACUMULADOS
FECHA_DIAGNOSTICO,,,,,,
2020-03-06,1,1,1,1,0,0
2020-03-07,0,1,0,1,0,0
2020-03-08,0,1,0,1,0,0
2020-03-09,0,1,0,1,0,0
2020-03-10,2,3,2,3,0,0
...,...,...,...,...,...,...
2022-03-02,450,1759811,22,1719615,3,29308
2022-03-03,427,1760238,5,1719620,4,29312
2022-03-04,344,1760582,32,1719652,0,29312
2022-03-05,171,1760753,21,1719673,0,29312
2022-03-06,23,1760776,0,1719673,0,29312

In [51]:
bogota.to_csv('bogota.csv')